<p id="notice"><%= notice %></p>

<p>
  <strong>Date arrived pittsburgh:</strong>
  <%= @mail_item.date_arrived_pittsburgh %>
</p>

<p>
  <strong>Date arrived qatar:</strong>
  <%= @mail_item.date_arrived_qatar %>
</p>

<p>
  <strong>Date delivered:</strong>
  <%= @mail_item.date_delivered %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @mail_item.sender %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mail_item.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @mail_item.comment %>
</p>

<p>
  <strong>Shipping weight:</strong>
  <%= @mail_item.shipping_weight %>
</p>

<p>
  <strong>Discard:</strong>
  <%= @mail_item.discard %>
</p>

<p>
  <strong>User:</strong>
  <%= @mail_item.user_id %>
</p>

<%= link_to 'Edit', edit_mail_item_path(@mail_item) %> |
<%= link_to 'Back', mail_items_path %>
